<html>

<head>
<title>Title</title>
</head>

<body>
<h1>FIFA WORLD RANKING SYSTEM DOCUMENTARY</h1>
<div>
<h2>INTRODUCTION</h2>
<p>The FIFA world Ranking system an R developed system,mainly used to visualize the worlds best performing countries.<br>
This system can also be used to predict the country's rank according the matches played and their weights as will be explained 
</p>
</div>
<div><h2>MATCH STATUS</h2>
<table>
<tr>
<th>Match Status</th>
<th>Multiplier</th>
</tr>
<tr>
<td>Freindly Match</td>
<td>X1.0</td>
</tr>
<tr>
<td>FIFA WorldCup and Continental Cup qualifiers</td>
<td>X2.5</td>
</tr>
<tr>
<td>FIFA WorldCup and Continental Cup finals</td>
<td>X3.0</td>
</tr>
<tr>
<td>World cup final match</td>
<td>x4.0</td>
</tr>
</table></div>
<div><h2>WIN/DRAW/LOSS</h2>
<table>
<tr>
<th>Result</th>
<th>Points</th>
</tr>
<tr>
<td>Win(no penalty shoot out)</td>
<td>3</td>
</tr>
<tr>
<td>Win(penalty shootout)</td>
<td>2</td>
</tr>
<tr>
<td>Draw</td>
<td>1</td>
</tr>
<tr>
<td>Loss(Penalty shootout)</td>
<td>1</td>
</tr>
<tr>
<td>Loss (no penalty shootout)</td>
<td>1</td>
</tr>
</table>
</div>
<div>OPPONENT STREGTH</div>
<div>REGIONAL STRENGTH</div>
<div>ASSESEMENT PERIOD</div>
<div>RANKING FORMULA</div>
<div>REFERRENCES</div>

</body>
</html>
