<html>

<head>
<title>Title</title>
<link rel="stylesheet" type="text/css" href="www/bootstrap.css">
</head>

<body>
<div class="container">
<div class="row">
<div class="col-lg-12"><h1 class="h2">TOP 3 TABLE SINCE 1993</h1></div></div>
<div class="col-lg-12"> 
  <table class="table thead-dark table-bordered table-striped">
  <tr style="background-color:green; color:white;">
  <th>YEAR</th><th>FIRST POSITION</th><th>SECOND POSITION</th><th>THIRD POSITION</th>
  </tr>
  <tr>
  <td>1993</td>
  <td><p>Germany(2)</p>
      <p>Brazil(2)</p>
      <p>Italy(1)</p>
  </td>
  <td><p>Italy(3)</p>
      <p>Norway(1)</p>
      <p>Netherland(1)</p>
  </td>
  <td><p>Switzerland(1)</p>
      <p>Norway(1)</p>
      <p>Italy(1)</p>
      <p>Germany(1)</p>
      <p>Brazil(1)</p>
  </td>
  </tr>
  <tr>
  <td>1994</td>
  <td><p>Germany(3)</p>
      <p>Brazil(8)</p>
  </td>
  <td><p>Brazil(2)</p>
      <p>Netherland(2)</p>
      <p>Germany(2)</p>
      <p>Italy(3)</p>
      <p>Sweden(1)</p>
      <p>Spain(1)</p>
  </td>
  <td><p>Netherland(1)</p>
      <p>Norway(3)</p>
      <p>Sweden(4)</p>
      <p>Italy(2)</p>
      
  </td>
  </tr>
  <tr>
  <td>1995</td>
  <td><p>Brazil(10)</p></td>
  <td><p>Spain(2)</p>
      <p>Italy(5)</p>
     <p>Norway(1)</p>
     <p>Germany(2)</p>
  </td>
  <td><p>Italy(2)</p>
      <p>Spain(4)</p>
      <p>Germany(4)</p>
      <p>Sweden(1)</p>
  </td>
  </tr>
  <tr>
  <td>1996</td>
  <td><p>Brazil(10)</p></td>
  <td><p>Germany(9)</p>
      <p>Italy(1)</p>
  </td>
  <td><p>Italy(1)</p>
      <p>Germany(1)</p>
      <p>Russia(2)</p>
      <p>France(6)</p>
  </td>
  </tr>
  <tr>
  <td>1997</td>
  <td><p>Brazil(10)</p></td>
  <td><p>Germany(6)</p>
      <p>Spain(4)</p>
  </td>
  <td><p>France(2)</p>
      <p>Denmark(3)</p>
      <p>Spain(1)</p>
      <p>Romania(1)</p>
      <p>CheckRepublic(1)</p>
      <p>Germany(2)</p>
  </td>
  </tr>
  <tr>
  <td>1998</td>
  <td><p>Brazil(10)</p></td>
  <td><p>Germany(4)</p>
      <p>France(6)</p>
  </td>
  <td><p>CheckRepublic(4)</p>
      <p>Germany(6)</p>
  </td>
  </tr>
  <tr>
  <td>1999</td>
  <td><p>Brazil(12)</p></td>
  <td><p>France(9)</p>
      <p>CheckRepublic(3)</p>
  </td>
  <td><p>Crotia(3)</p>
      <p>Germany(2)</p>
      <p>CheckRepublic(4)</p>
      <p>France(3)</p>
  </td>
  </tr>
  <tr>
  <td>2000</td>
  <td><p>Brazil(12)</p></td>
  <td><p>CheckRepublic(5)</p>
      <p>France(7)</p>
  </td>
  <td><p>France(5)</p>
      <p>CheckRepublic(2)</p>
      <p>Argentina(5)</p>
  </td>
  </tr>
  <tr>
  <td>2001</td>
  <td><p>Brazil(4)</p>
  <p>France(8)</p>
  </td>
  <td><p>France(4)</p>
  <p>Brazil(6)</p>
  <p>Argentina(2)</p>
  </td>
  <td><p>Argentina(10)</p>
    <p>Brazil(2)</p>
  </td>
  </tr>
  <tr>
  <td>2002</td>
  <td><p>France(5)</p>
  <p>Brazil(6)</p>
  </td>
  <td><p>Argentina(5)</p>
  <p>Brazil(2)</p>
  <p>France(5)</p>
  </td>
  <td><p>Brazil(3)</p>
  <p>Argentina(2)</p>
  <p>France(1)</p>
  <p>Spain(6)</p>
  </td>
  </tr>
  <tr>
  <td>2003</td>
  <td><p>Brazil(12)</p></td>
  <td><p>France(9)</p>
    <p>Spain(3)</p>
  </td>
  <td><p>Spain(9)</p>
  <p>France(3)</p>
  </td>
  </tr>
  <tr>
  <td>2004</td>
  <td><p>Brazil(12)</p></td>
  <td><p>France(12)</p></td>
  <td><p>Spain(3)</p>
  <p>Argentina(3)</p>
  </td>
  </tr>
  <tr>
  <td>2005</td>
  <td><p>Brazil(12)</p></td>
  <td><p>France(3)</p>
  <p>ChechRepublic(5)</p>
  <p>Netherland(2)</p>
  <p>Argentina(2)</p>
  </td>
  <td><p>Argentina(7)</p>
  <p>Netherland(4)</p>
  <p>ChechRepublic(1)</p>
  </td>
  </tr>
  <tr>
  <td>2006</td>
  <td><p>Brazil(11)</p></td>
  <td><p>ChechRepublic(5)</p>
  <p>Italy(5)</p>
  <p>France(1)</p>
  </td>
  <td>
  <p>Netherland(5)</p>
  <p>Argentina(5)</p>
  <p>France(1)</p>
  </td>
  </tr>
  <tr>
  <tr>
  <td>2007</td>
  <td><p>Brazil(3)</p>
  <p>Italy(5)</p>
  <p>Argentina(1)</p>
  </td>
  <td><p>Italy(2)</p>
  <p>Brazil(2)</p>
  <p>Argentina(4)</p>
  <p>France(1)</p>
  </td>
  <td><p>Argentina(3)</p>
  <p>Brazil(4)</p>
  <p>Italy(2)</p>
  </td>
  </tr>
  <tr>
  <td>2008</td>
  <td><p>Argentina(6)</p>
  <p>Spain(6)</p>
  </td>
  <td><p>Brazil(6)</p>
  <p>Italy(5)</p>
  <p>Germany(5)</p>
  </td>
  <td><p>Italy(8)</p>
  <p>Germany(3)</p>
  <p>Netherland(1)</p>
  </td>
  </tr>
  
  <td>2009</td>
  <td><p>Spain(3)</p></td>
  <td><p>Germany(3)</p></td>
  <td><p>Netherland(3)</p></td>
  </tr>
  <tr>
  <td>2010</td>
  <td><p>Spain(9)</p><p>Brazil(2)</p></td>
  <td><p>Brazil(3)</p><p>Spain(2)</p><p>Netherland(6)</p></td>
  <td><p>Netherland(3)</p><p>Portugal(2)</p><p>Brazil(4)</p><p>Germany(2)</p></td>
  </tr>
  <tr>
  <td>2011</td>
  <td><p>Spain(10)</p><p>Netherland(1)</p></td>
  <td><p>Netherland(2)</p><p>Spain(1)</p></td>
  <td><p>Germany(10)</p><p>Brazil(2)</p></td>
  </tr>
  <tr>
  <td>2012</td>
  <td><p>Spain(12)</p></td>
  <td><p>Netherland(2)</p><p>Germany(9)</p><p>Urugray(1)</p></td>
  <td><p>Germany(3)</p><p>Netherland(1)</p><p>Urugray(3)</p><p>England(2)</p><p>Portugal(1)</p><p>Argentina(2)</p></td>
  </tr>
  <tr>
  <td>2013</td>
  <td><p>Spain(12)</p></td>
  <td><p>Argentina(2)</p><p>Germany(10)</p></td>
  <td><p>Argentina(10)</p><p>Columbia(2)</p></td>
  </tr>
  <tr>
  <td>2014</td>
  <td><p>Spain(6)</p><p>Germany(6)</p></td>
  <td><p>Germany(6)</p><p>Argentina(6)</p></td>
  <td><p>Argentina(3)</p><p>Portugal(2)</p><p>Brazil(1)</p><p>Netherland(2)</p><p>Columbia(4)</p></td>
  </tr>
  <tr>
  <td>2015</td>
  <td><p>Germany(6)</p><p>Argentina(4)</p><p>Belgium(2)</p></td>
  <td><p>Argentina(6)</p><p>Germany(3)</p><p>Belgium(3)</p></td>
  <td><p>Columbia(3)</p><p>Belgium(5)</p><p>Argentina(2)</p><p>Germany(1)</p></td>
  </tr>
  <tr>
  <td>2016</td>
  <td><p>Belgium(3)</p><p>Argentina(9)</p></td>
  <td><p>Argentina(3)</p><p>Belgium(6)</p><p>Germany(1)</p><p>Brazil(2)</p></td>
  <td><p>Spain(3)</p><p>Chile(6)</p><p>Columbia(3)</p><p>Germany(3)</p><p>Brazil(1)</p></td>
  </tr>
  <tr>
  <td>2017</td>
  <td><p>Argentina(3)</p><p>Brazil(5)</p><p>Germany(4)</p></td>
  <td><p>Brazil(8)</p><p>Argentina(3)</p><p>Germany(1)</p></td>
  <td><p>Germany(6)</p><p>Argentina(2)</p><p>Portugal(4)</p></td>
  </tr>
  <tr>
  <td>2018</td>
  <td><p>Germany(6)</p></td>
  <td><p>Brazil(6)</p></td>
  <td><p>Portugal(3)</p><p>Belgium(3)</p></td>
  </tr>
  </table>

</div>
<div>
</div>

</body>
</html>
